---
import { getCourseBySigle } from "../../services/courses";
import Layout from "../../layouts/Layout.astro";
import CoursesRaw from "../../../migration/json/2025-1.json";
import Id2NameRaw from "../../../migration/json/valores_unicos.json";
import { HourglassIcon, BuildingIcon, AreaIcon } from "../../components/icons/icons";
import { Pill } from "../../components/ui/pill";

const { sigle } = Astro.params;
const courses = CoursesRaw as Record<string, CourseStaticInfo>;
const id2Name = Id2NameRaw as Record<string, string>;

if (!sigle || !courses[sigle]) {
    return Astro.redirect("/404");
}

const course = courses[sigle];

if (!course) {
    return Astro.redirect("/404");
}

const c = await getCourseBySigle(Astro.locals, sigle);
---

<Layout>
    
    <div class="max-w-6xl mx-auto px-4 py-8">

        <section class="border border-border rounded-md px-6 py-8">
            <p class="text-sm">{course.sigle}</p>

            <div class="pt-2 flex items-center justify-between">
                <h1 class="text-3xl font-bold mb-2">{course.name}</h1>
                <div class="hidden desktop:block items-center p-3 text-xl bg-green-light text-green border border-green/20 rounded-sm">
                    <div class="flex items-center gap-2 text-xl">
                        <HourglassIcon className="inline-block fill-green"/>
                        <span class="font-medium">{course.credits} Créditos</span>
                    </div>
                </div>
            </div>
            <div>
                <p class="text-sm opacity-60 max-w-[75%]">{course.program}</p>
            </div>
            <div class="flex items-center flex-wrap gap-2 mt-8">
                <Pill variant="green" icon={HourglassIcon} className="desktop:hidden">
                    {course.credits} Créditos
                </Pill>
                {course.school && course.school !== "Ninguna" && (
                    <Pill variant="blue" icon={BuildingIcon}>
                        <span>{course.school}</span>
                    </Pill>
                )}
                {course.area && course.area !== "Ninguna" && (
                    <Pill variant="pink" icon={AreaIcon}>
                        {course.area}
                    </Pill>
                )}
            </div>
        </section>

        
    </div>
</Layout>
