---
import { Pill } from "@/components/ui/pill";
import { ClockIcon } from "@/components/icons/icons";

interface Props {
  title: string;
  authorName: string;
  description: string;
  readtime: number;
  tags: string[];
}

const { title, authorName, description, readtime, tags } = Astro.props;
---

<a
  href={`/blogs/${authorName
    .toLowerCase()
    .replace(/\s+/g, "-")}/${title.toLowerCase().replace(/\s+/g, "-")}`}
>
  <article
    class="border border-border rounded-lg p-6 hover:shadow-md transition-shadow cursor-pointer focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 no-underlin max-w-4xl flex flex-col gap-4 h-full"
  >
    <header>
      <h2 class="text-2xl font-bold">{title}</h2>
      <p class="text-sm text-gray-500">
        {authorName} - {title}
      </p>
    </header>
    <div>
      <p class="text-gray-600">{description}</p>
    </div>
    <footer class="h-full flex flex-col justify-end">
      <div>
        <Pill size="sm" variant="green" icon={ClockIcon}>
          {readtime} minutos de lectura
        </Pill>
        {tags.map((tag) => <Pill size="sm">{tag}</Pill>)}
      </div>
    </footer>
  </article>
</a>
