---
import { Button } from "./ui/button";
import { Pill } from "./ui/pill";

export interface Props {
  title: string;
  code: string;
  initiative: string;
  period: string;
  faculty: string;
  qualification: number;
  tags: string[];
  resume: string;
}

const {
  title,
  code,
  initiative,
  period,
  faculty,
  qualification,
  tags,
  resume,
} = Astro.props;
---

<article
  class="bg-white flex flex-col gap-3 transition-shadow duration-200 border border-border rounded-md px-6 py-8"
  transition:name={`recommendation-article-${code}`}
>
  <header class="mb-4 rounded-t-lg flex flex-col gap-2">
    <h2
      class="text-xl font-bold"
      transition:name={`recommendation-title-${code}`}
    >
      {title}
    </h2>
    <div>
      <Pill size="sm" variant="blue">
        Recomendado por una iniciativa estudiantil
      </Pill>
    </div>
  </header>
  <dl class="grid md:grid-cols-3">
    <div transition:name={`period-${code}`}>
      <dt class="font-semibold">Period:</dt>
      <dd>{period}</dd>
    </div>
    <div transition:name={`code-${code}`}>
      <dt class="font-semibold">Code:</dt>
      <dd>{code}</dd>
    </div>
    <div transition:name={`faculty-${code}`}>
      <dt class="font-semibold">Faculty:</dt>
      <dd>{faculty}</dd>
    </div>
    <div transition:name={`qualification-${code}`}>
      <dt class="font-semibold">Qualification:</dt>
      <dd>{qualification} ⭐</dd>
    </div>
    <div transition:name={`tags-${code}`}>
      <dt class="font-semibold">Tags:</dt>
      <dd>
        <ul class="pl-4">
          {tags.map((tag: string) => <li>- {tag}</li>)}
        </ul>
      </dd>
    </div>
    <div
      class="col-start-3 col-end-3 row-start-1 row-end-4 flex items-center justify-center"
    >
      <svg
        viewBox="0 0 40 56"
        class="size-10 md:size-24"
        xmlns="http://www.w3.org/2000/svg"
        transition:name={`logo-fade-${code}`}
      >
        <path
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M16 8C16 10.9611 14.3912 13.5465 12 14.9297V33.6642C14.4498 32.5938 17.1556 32 20 32C24.4183 32 28 28.4183 28 24V22.9297C25.6088 21.5465 24 18.9611 24 16C24 11.5817 27.5817 8 32 8C36.4183 8 40 11.5817 40 16C40 18.9611 38.3912 21.5465 36 22.9297V24C36 32.8366 28.8366 40 20 40C17.5286 40 15.2318 40.7471 13.3229 42.0277C14.9656 43.4929 16 45.6256 16 48C16 52.4183 12.4183 56 8 56C3.58172 56 0 52.4183 0 48C0 45.0389 1.60879 42.4535 4 41.0703V14.9297C1.60879 13.5465 0 10.9611 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM4 48C4 45.7909 5.79086 44 8 44C10.2091 44 12 45.7909 12 48C12 50.2091 10.2091 52 8 52C5.79086 52 4 50.2091 4 48ZM12 8C12 10.2091 10.2091 12 8 12C5.79086 12 4 10.2091 4 8C4 5.79086 5.79086 4 8 4C10.2091 4 12 5.79086 12 8ZM36 16C36 18.2091 34.2091 20 32 20C29.7909 20 28 18.2091 28 16C28 13.7909 29.7909 12 32 12C34.2091 12 36 13.7909 36 16Z"
        ></path>
        <circle cx="33" cy="49" r="7" fill="#0073DE"></circle>
      </svg>
    </div>
  </dl>
  <section class="flex flex-col justify-end xl:align-baseline h-full pt-4">
    <div class="flex-1 flex flex-col justify-end">
      <h3 class="font-semibold">Resumen de la recomendación:</h3>
      <p>{resume}</p>
    </div>
    <div class="flex md:flex-col md:justify-end">
      <Button
        variant="link"
        href={`/recommendations/${code}-${initiative.replace(/\s/g, "")}`}
        data-astro-prefetch
        transition:name={`recommendation-card-${code}`}
      >
        Leer la recomendación completa
      </Button>
    </div>
  </section>
</article>
