---
import { record } from "astro:schema";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const recommendations = await getCollection("recommendations");
console.log(recommendations);
---

<Layout>
  <main>
    <section class="flex flex-col gap-8">
      <header>
        <h1 class="text-2xl font-bold">Recommendations</h1>
      </header>
      <div class="grid gap-6 md:grid-cols-2">
        {
          recommendations.map((rec) => {
            const { slug, data } = rec;
            const {
              title,
              code,
              initiative,
              period,
              faculty,
              qualification,
              resume,
            } = data;
            return (
              <article class="bg-white rounded-lg shadow-md flex flex-col gap-2 hover:shadow-lg transition-shadow duration-200 [&>*:not(:first-child)]:px-6 [&>*:not(:first-child)]:py-4">
                <header class="mb-4 bg-blue-600 text-white p-8 rounded-t-lg flex flex-col md:flex-row justify-between">
                  <h2 class="text-xl font-bold">
                    {title} - {initiative}
                  </h2>
                  <span class="text-sm bg-white/20 px-2 py-1 rounded">
                    Recomendado por una iniciativa estudiantil
                  </span>
                </header>
                <dl class="grid grid-cols-2">
                  <div>
                    <dt class="font-semibold">Period:</dt>
                    <dd>{period}</dd>
                  </div>
                  <div>
                    <dt class="font-semibold">Code:</dt>
                    <dd>{code}</dd>
                  </div>
                  <div>
                    <dt class="font-semibold">Faculty:</dt>
                    <dd>{faculty}</dd>
                  </div>
                  <div>
                    <dt class="font-semibold">Qualification:</dt>
                    <dd>{qualification}</dd>
                  </div>
                  <div>
                    <dt class="font-semibold">Tags:</dt>
                    <dd>
                      <ul class="pl-4">
                        {data.tags.map((tag) => (
                          <li>- {tag}</li>
                        ))}
                      </ul>
                    </dd>
                  </div>
                </dl>
                <section class="flex flex-col lg:flex-row">
                  <div class="flex-1">
                    <h3 class="font-semibold">Resumen de la recomendación:</h3>
                    <p>{resume}</p>
                  </div>
                  {/* Mover link al lado derecho de facultad y calificación */}
                  <div class="flex flex-col justify-end">
                    <a
                      href={`/recommendations/${code}-${initiative.replace(/\s/g, "")}`}
                      class="text-blue-600 border-blue-600 border-solid px-5 py-2 border-2 rounded hover:bg-blue-600 hover:text-white transition-colors"
                    >
                      Leer la recomendación completa
                    </a>
                  </div>
                </section>
              </article>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
