---
import { record } from "astro:schema";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const recommendations = await getCollection("recommendations");
console.log(recommendations);
---

<Layout>
  <main>
    <section class="flex flex-col gap-8">
      <header>
        <h1 class="text-2xl font-bold">Recommendations</h1>
      </header>
      <div class="grid gap-6 md:grid-cols-2">
        {
          recommendations.map((rec) => {
            const { data } = rec;
            const {
              title,
              initiative,
              period,
              faculty,
              qualification,
              resume,
            } = data;
            return (
              <article class="bg-white p-6 rounded-lg shadow-md flex flex-col gap-2">
                <header>
                  <h2 class="text-xl font-bold">
                    {title} - {initiative}
                  </h2>
                </header>
                <dl class="space-y-2">
                  <div>
                    <dt class="font-semibold">Period:</dt>
                    <dd>{period}</dd>
                  </div>
                  <div>
                    <dt class="font-semibold">Faculty:</dt>
                    <dd>{faculty}</dd>
                  </div>
                  <div>
                    <dt class="font-semibold">Qualification:</dt>
                    <dd>{qualification}</dd>
                  </div>
                </dl>
                <section class="flex gap-3">
                  <h3 class="font-semibold">Tags:</h3>
                  <ul class="list-disc pl-4">
                    {data.tags.map((tag) => (
                      <li>{tag}</li>
                    ))}
                  </ul>
                </section>
                <section>
                  <h3 class="font-semibold">Resumen de la recomendación:</h3>
                  <p>{resume}</p>
                </section>
              </article>
            );
          })
        }
      </div>
    </section>
  </main>
</Layout>
