---
import "@/styles/global.css";
import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
import { Banner } from "@/components/ui/banner";
import MainHead from "@/layouts/MainHead.astro";
import Seo from "@/components/Seo.astro";

const {
  title = "BuscaRamos",
  description = "Tu plataforma para explorar ramos, reseñarlos y mucho más. Encuentra ramos de la Pontificia Universidad Católica de Chile (UC), revisa sus reseñas y comparte tus experiencias.",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <MainHead
    title={title}
    description={description}
    image={image}
    frontmatter={frontmatter}
    robots={robots}
  />
  <body
    class="bg-background text-foreground min-h-screen"
  >
    <!-- Banner de Anuncios -->
    <Banner 
      variant="pink" 
      size="md" 
      icon="VeryHappyIcon" 
      dismissible={true} 
      bannerId="2025-3"
      client:only="react"
    >
    <strong>Página en Desarrollo</strong>: ¡Ahora con cuentas OSUC! Crea tu cuenta y empieza a reseñar cursos.
    </Banner>

    <!-- Main -->
    <main class="flex flex-col gap-4 px-2 sm:px-4 tablet:px-8">
      <Header client:only="react" />
      <slot />
      <Footer />
    </main>   
  </body>
</html>
