---
import '@/styles/global.css'
import Header from '@/components/layout/Header'
import Footer from '@/components/layout/Footer.astro'
import { Banner } from '@/components/ui/banner'
import { Toaster } from '@/components/ui/sonner'
import CommandWrapper from '@/components/features/command/CommandWrapper'
import MainHead from '@/layouts/MainHead.astro'

const {
	title = 'BuscaRamos',
	description = 'Tu plataforma para explorar ramos, reseñarlos y mucho más. Encuentra ramos de la universidad, revisa sus reseñas y comparte tus experiencias.',
	image,
	frontmatter,
	robots,
} = Astro.props
---

<!doctype html>
<html lang="es">
	<MainHead
		title={title}
		description={description}
		image={image}
		frontmatter={frontmatter}
		robots={robots}
	/>
	<body class="bg-background text-foreground min-h-screen">
		<!-- Global Toaster for notifications -->
		<Toaster client:visible />

		<CommandWrapper client:load>
			<!-- Banner de Anuncios -->
			<Banner
				variant="pink"
				size="md"
				icon="VeryHappyIcon"
				dismissible={true}
				bannerId="2025-07-15"
				client:load
			>
				<strong>¡Actualizado con los cursos del segundo semestre!</strong>: Explora ramos, revisa
				sus reseñas y crea tu horario ideal.
			</Banner>

			<!-- Main -->
			<Header client:load />
			<main class="tablet:px-8 flex flex-col gap-4 px-2 sm:px-4">
				<slot />
			</main>
			<Footer />
		</CommandWrapper>
	</body>
</html>
