---
import "@/styles/global.css";
import Header from "@/components/Header";
import Footer from "@/components/Footer.astro";
import { Banner } from "@/components/ui/banner";
import MainHead from "@/layouts/MainHead.astro";

const {
  title = "BuscaRamos",
  description = "Tu plataforma para explorar ramos, reseñarlos y mucho más. Encuentra ramos de la universidad, revisa sus reseñas y comparte tus experiencias.",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <MainHead
    title={title}
    description={description}
    image={image}
    frontmatter={frontmatter}
    robots={robots}
  />
  <body class="bg-background text-foreground min-h-screen">
    <!-- Banner de Anuncios -->
    <Banner
      variant="red"
      size="md"
      icon="VerySadIcon"
      dismissible={true}
      bannerId="2025-3"
      client:load
    >
      <strong>Página en Desarrollo</strong>: Durante el 03 y 04 de julio de
      2025, estaremos agregando cursos, por lo que las críticas no estarán
      disponibles.
    </Banner>

    <!-- Main -->
    <main class="flex flex-col gap-4 px-2 sm:px-4 tablet:px-8">
      <Header client:load />
      <slot />
      <Footer />
    </main>
  </body>
</html>
