---
// component imports
import ClientRouter from "astro/components/ClientRouter.astro";
import Seo from "../components/layout/Seo.astro";

const { title, description, image, frontmatter, robots } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <meta name="description" content={description} />

  <ClientRouter />
  <!-- Cloudflare Web Analytics -->
  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js"
    data-cf-beacon='{"token": "7874d2302e154e14ab08e25ea85909f9"}'
  ></script><!-- End Cloudflare Web Analytics -->
  <Seo {title} {description} url={Astro.url} {image} {frontmatter} {robots} />
</head>
